{% extends "_templates/base.twig" %}
{% block javascripts %}
    <script src="{{ constant('URL') }}public/js/jquery/jquery.min.js"></script>
    <script src="{{ constant('URL') }}public/js/application/passwordRecovery.js"></script>
{% endblock %}
{% block content %}
    <div class="grid" style="margin-top: 40px">
        <div class="example">
            <div id="content">
                {% if UI == 1 %}
                    <label>Nhập mật khẩu mới: </label>
                    <div class="input-control text" data-role="input-control">
                        <input type="password" name="password" id="password" autofocus="true" onkeyup="checkPassword(this.value)" required><br>
                        <span id = "pwStatus"></span>
                        <input type="hidden" id="userEmail" value = "{{ email }}">
                    </div>
                        <div style="margin-top: 20px; margin-bottom: 20px">
                    <label>Nhập lại mật khẩu: </label>
                    <div class="input-control text" data-role="input-control">
                        <input type="password" name="repassword" id="repassword" required><br>
                        <span id = "pwStatus2"></span><br><br>
                    </div>
                        </div>
                    <button class="button primary large" id="submit2">Khôi phục mật khẩu</button>
                    <button class="button large" id = "reset">Xóa</button>
                {% endif %}
                {% if UI == 0 %}
                    <label>Nhập email đăng ký: </label>
                    <div class="input-control text" data-role="input-control">
                        <input type="email" name="email" id="email" autofocus="true" required><br><br>
                        <button class="button primary large" id="submit">Khôi phục mật khẩu</button>
                    </div>
                {% endif %}
                {% if UI == 2 %}
                    <h3>Đường dẫn kích hoạt không đúng hoặc đã hết hạn sử dụng, vui lòng kiểm tra lại</h3></br>
                    <h2>Nhấn <a href="../../">vào đây</a> để về trang chủ</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}